/* general styling */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

.body{
    font-family: 'Poppins', sans-serif;
     
}

html{
    scroll-behavior: smooth;
}

p{
    color: rgb(85, 85, 85);
}

/* box container */

.nav-container {
    border: 1px solid black; 
    padding: 10px; 
    background-color: black; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

.nav-container .logo {
    font-size: 24px; 
}

.nav-links {
    list-style: none; 
    display: flex; 
}

.nav-links li {
    margin-right: 20px; 
}

.nav-links a {
    text-decoration: none; 
    color: white;
}


/* transition */

a, .btn{
    transition: all 300ms ease;
}

 /* desktop navigation */

nav, .nav-links{
    display: flex;
}

nav{
    justify-content: space-around;
    align-items: center;
    height: 17vh;    
}

.nav-links{
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem; 

}

a{
    color: black;
    text-decoration: none;
    text-decoration-color: black;
}

a:hover{
    color: #89cff0;
    text-decoration: underline;
    text-underline-offset: 10px; 
    text-decoration-color: black;
    transition: smooth;
}

.logo{
    /* nav-left: auto; */
    color: #89cff0;
    /* text-decoration-color: royalblue; */
    /* text-underline-offset: 2px; */
    /* text-decoration-color: royalblue; */
}

span{
    color: white;
    font-size: auto;
}

.logo:hover{
    cursor: default;
}

/* Hamburger Menu */

#hamburger-nav {
    display: none;
}


 .hamburger-menu{
    position: relative;
    display: inline-block;
 }

 .hamburger-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
 }


.hamburger-icon span{
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}

.menu-links{
    position: absolute;
    top: 100%;
    right: 0%;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out ;
}


.menu-links a{
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li{
    list-style: none;
}

.menu-links.open{
    max-height: 300px;
}

#hamburger-nav .hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}


.hamburger-icon.open span:nth-child(2){
    opacity: 0;
}

.hamburger-icon.open span:last-child{
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child{
    transform: none;
}

.hamburger-icon span:first-child{
    opacity: 1;
}

.hamburger-icon span:first-child{
    transform: none;
}

/* sections */
section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
  }
  
  .section-container {
    display: flex;
  }
  
  /* PROFILE SECTION */
  
  #profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
  }
  
  .section__pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto;
    border-radius: 50%;
    overflow: hidden; /* Ensure the image follows the rounded shape */
    align-items: center; /* Vertically center the image */
    justify-content: center; /* Horizontally center the image */
}
  
.section__pic-container img {
    width: 100%; /* Make the image cover the entire round container */
    height: 100%; /* Make the image cover the entire round container */
    object-fit: cover; /* Maintain image aspect ratio and cover the container */
    border-radius: 50%; /* Make the image round */
}



.section__text {
    align-self: center;
    text-align: center;
    font-size: 1.5rem;
  }
  
.section__text p {
    font-weight: 600;
  }
  
.section__text__p1 {
    text-align: center;
    font-size: larger;
  }
  
.section__text__p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
  }
  
.title {
    font-size: 3rem;
    text-align: center;
    color: #89cff0;
  }
  
  .highlight {
    color: black; /* Set the desired color for the span element */
}


#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}
/* icons */

.icon{
    cursor: pointer;
    height: 2rem;
    display: inline;
    margin: auto;
}

/* Buttons */

.btn-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn{
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn-color-1:hover,
.btn-color-2:hover{
    border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover{
    cursor: pointer;
}
 
.btn-color-1,
.btn-color-2:hover{
    background-color: rgb(53, 53, 53);
    color: white;
}


.btn-color-1:hover{
    background-color: rgb(0, 0, 0);
}

.btn-color-2{
    background : none;
}

.btn-color-2:hover{
    border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container{
    gap: 1rem;
}



/* about section */

#about{
    position: relative;
}

.matter{
    color: black;
}
.about-containers{
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;

}

 
.about-details-container{
    justify-content: center;
    flex-direction: column;

}

.about-containers, 
.about-details-containers{
    display: flex;
}

.about-pic{
    border-radius: 50%;
}

.arrow{
    position: relative;  /*was absolute*/
    right: -5rem;
    bottom: 21.5rem;
}

.details-container{
    padding: 1.5rem;
    flex: 1;
    background: lightgrey;
    border-radius: 2rem;
    border: rgb(126, 53, 53) 0.1rem solid;
    border-color: #89cff0;
    text-align: center;
}
.section-container{
    gap: 4rem;
    height: 33%;
}

.section__pic-container{
    height: 300px;
    width: 300px;
    margin: auto 0;
}

/* experience */

#experience{
    position: relative;
}

.icon.arrow {
    right: 5rem;
    bottom: 10rem;
}

.experience-sub-title{
    color:#89cff0;
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.experience-details-container{
    font-display: auto;
    justify-content: center;
    flex-direction: row;
    padding: 1rem;
    flex: 1;
    background: white;
    border-radius: 4rem;
    border: white 0.1rem solid;
    border-color: #89cff0;
    text-align: center;
    overflow: scroll;
}

.article-container{
    display: center;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
    gap: 3.5rem;
    justify-content: space-around;
}


article .icon{
    cursor: pointer;
}

article{
    width: 15rem;
}


/* projects section */

#projects{
    position: relative;    
}

.color-container{
    border-color: #89cff0;
    background:lightgray;
}

.project-img{
    border-radius: 2rem;
    width: 90%;
    height: 90%;
}

.project-title{
    margin: 1rem;
    color: black;
}

.project-btn{
    color: black;
    border-color: #89cff0;
}

#experience-details-container{
    border-color: white;
}

.matter1{
    color:black;
}

/* contact page */

#contact{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 85vh;
}
.matter3{
    color: black;
}

.contact-info-upper-conatiner{
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: gold 0.1rem solid;
    border-color: #89cff0;
    background: (250,250,250);
    margin: 1rem;
    padding: 1.5rem;
}

.contact-info-conatiner{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
    color: grey;
}

.contact-info-conatiner p{
    font-size: larger;
}
.contact-icon{
    cursor: default;
    display: flex;
    height: 3rem;
}

/* .email-icon{
    height: 4rem;
} */


/* footer section */

.nav-links-new a {
    text-decoration: none; 
    color: black;
}
.nav-links-new a:hover {
    text-decoration: underline; /* Add underline on hover (optional) */
}

.nav-links-new {
    list-style: none; 
    display: flex; 
}
.nav-links-new li {
    margin-right: 20px; 
    font-size: 2rem;
}

.footer{
    height: 26vh;
    margin: 0 1rem;
    align-items: column;
}

footer p{
    text-align: center;
    margin-bottom: 3rem;
    font-size: smaller;
}

.nav-links-new li,
a:hover{
    color:#89cff0;
    font-size: 2rem;
    text-decoration-color: black;
    transition: smooth;
}
li:hover{
    color:black;
}

/* .nav-links-new a,
a:hover{
    color:#89cff0;
    font-size: 2rem;
    text-decoration-color: black;
    transition: smooth;
} */








/* *{
    margin: 0;
    padding: 0;
    font-family: italic;
}

.hero{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: white;
}

nav{
    display: flex;
    width: 100%;
    height: 10vh;
    margin: auto;
    padding: 2.5mm;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}

.logo{
    width: 120px;
    height: auto;
    font-size: 4rem;
    font-weight: 800;
    color: #89CFF0;
}

.logo2{
    color: #89CFF0;
    display: inline;
}

nav ul li{
    display: inline-block;
    list-style: none;
    font-weight: 500;
    margin: 5px;
    width: auto;
    
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}

nav ul li a:hover{
    color: red;
}

.detail{
    margin-left: 2%;
    margin-top: 14%;
    
}

.detail h1{
    font-size: 6rem;
    color: black;
    margin-bottom: 3%;
}

span{
    color: #89CFF0;
}

.description{
    color: black;
    line-height: 22px;
}

.profession{
    font-weight: 700;
}

.detail a{
    background: black;
    padding: 10px 20px; 
    text-decoration: none;
    color: white;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}


.images{
    width: 15%;
    height: 75%;
    position: absolute;
    top: 120px;
    bottom: 20px;
    right: 25cm;
    left: 5px;
    /* border-radius: 50%; */

/* }
.images img{
    height: 30%;
    position: absolute;
    left: 50%;
    bottom: 8;
    transform: translateX(-50%);
    transition: bottom 3s, left 1s;
    border-radius: 50%;
    box-sizing: border;
}
.images:hover .shape{
    left: 125%;

}
.images:hover .girl{
    right: 35%;
    border-radius: 50%;
}
.social{
    margin-left: 8%;
    margin-top: 10px;

}

.social a{
    font-size: 30px;
    color: brown;
    margin-right: 20px;
}

.social img{
    height: 35px;
    width: 35px;
    margin-bottom: auto;

}

.top-right {
    position: absolute;
    right: 1120px;
    top: 5.3cm;
    color: white;
    
}

a {
    text-decoration: none;
}
 */





/* @import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');

html{
    min-height: 100%;
    overflow: hidden;
}

body{
    height: 100vh;
    width: 100%;
    color: rgba(225, 225, 225, .75);
    font-family: "Anonymous Pro", monospace;
    background-color: rgb(25, 25, 25);
}

.my-line {
    width: 24em;
    margin: 0 auto;
    margin-top: 40vh;
    border-right: 2px solid rgba(225, 225, 225, .75);
    font-size: 2rem;
    white-space: nowrap;
    overflow: hidden;
}

.anim-typewriter {
    animation: typewriter 3s steps(25) 1s infinite alternate-reverse both,
               blinkTextCursor 500ms steps(31) infinite normal;
}


@keyframes typewriter {
    from{width: 0px;}
    to{width: 15em;}    
}

@keyframes blinkTextCursor{
    from{border-right-color: (225, 225, 225, .75);}
    to{border-right-color: transparent;}
}
 */
 
